<div class="container">
	<h1>Hello Welcome to the ThinkGRAM</h1>
	<p>please register or signIn to continue.</p>
	<%= link_to "SignUp", new_account_registration_path %>
	<%= link_to "SignIn", new_account_session_path %>
</div>
	

