<div class="container">
	<div class="row">
		<div class="col-md-4">

		</div>
		<div class="col-md-8 text-left">
			<h1><%= @account.full_name%></h1>
			<div class="profile-starts"><p><%= @account.posts.count%>posts</p></div>
			<div class="profile-starts"><p><%= @account.posts.total_followers%>follwers</p></div>
			<div class="profile-starts"><p><%= @account.posts.total_following%>following</p></div>
		</div>
	</div>
</div> 
